<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>

	<!-- Indicate the app does not use non-exempt encryption to skip export compliance questions -->
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
